{% load static %}
<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Full Motion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'labeling_package/assets/css/main.css'%}" />
	</head>
	<body id="top">

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="{% static 'labeling_package/images/banner'%}">
					<div class="inner">
						<header>
							<h1>Porn Labeling</h1>
							<p>為了加速人工labeling的效率而開發的web</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner"> 
					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="#main" class="image fit"><img src="{% static get_imageName %}" alt="圖片的標好惹" /></a>
								<div class="inner">
									<h3>這張是色情圖片嗎？</h3>
									<a href="/labeling/?label=porn&name={{get_imageName}}#main"><button class="button fit" name="yes" value="yes">YES</button></a>
									<a href="/labeling/?label=non-porn&name={{get_imageName}}#main"><button class="button fit" >NO</button></a>
									<a href="/labeling/?label=trash&name={{get_imageName}}#main"><button class="button fit" >都不是(除了正面其他都是垃圾)</button></a>
								</div>
							</div>
						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>. Videos: <a href="http://coverr.co/">Coverr</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->
			<script src="{% static 'labeling_package/assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'labeling_package/assets/js/jquery.scrolly.min.js'%}"></script>
			<!-- <script src="{% static 'labeling_package/assets/js/jquery.poptrox.min.js'%}"></script> -->
			<script src="{% static 'labeling_package/assets/js/skel.min.js'%}"></script>
			<script src="{% static 'labeling_package/assets/js/util.js'%}"></script>
			<script src="{% static 'labeling_package/assets/js/main.js'%}"></script>

	</body>
</html>